<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="student">
	<insert id="test1">
		INSERT INTO STUDENT VALUES(SEQ_STUDENT.NEXTVAL,
		'김말똥', '01011112222',
		'mail@mail.org', '경기도 부천시', DEFAULT)
	</insert>
	<insert id="test2">
		INSERT INTO STUDENT VALUES(SEQ_STUDENT.NEXTVAL,
		#{studentName}, '01012345678',
		'mail@mail.org', '서울역', DEFAULT)
	</insert>
	<insert id="test3" parameterType="org.kh.student.model.vo.StudentVo">
		INSERT INTO STUDENT VALUES(SEQ_STUDENT.NEXTVAL,
		#{studentName}, #{studentTel},
		#{studentEmail}, #{studentAddr}, DEFAULT)
	</insert>
</mapper> 
